<div fxFlex fxFlexOffset="20px" class="form-size">


  <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()" *ngIf="showForm"
    [@expand]="expand">
    <h3>Send us your Feedback</h3>
    <p>
      <mat-form-field class="half-width">
        <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
        <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
        <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width">
        <input matInput formControlName="telnum" placeholder="Tel. Number" pattern="[0-9]*" type="tel" required>
        <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput formControlName="email" placeholder="Email" type="email" required>
        <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
        <mat-error>Email ID is required</mat-error>
      </mat-form-field>
    </p>

    <table class="form-size">
      <td>
        <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
      </td>
      <td>
        <mat-select placeholder="How?" formControlName="contacttype">
          <mat-option *ngFor="let ctype of contactType" [value]="ctype">
            {{ ctype }}
          </mat-option>
        </mat-select>
      </td>
    </table>
    <p>
      <mat-form-field class="full-width">
        <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
      </mat-form-field>
    </p>
    <button type="submit" mat-button [disabled]="!feedbackForm.valid"
      class="background-primary text-floral-white">Submit</button>
  </form>


  <div *ngIf="showDetailForm" [@expand]="expand">
    <h2>Your Submission</h2>
    <mat-list>
      <h3> First Name: {{submittedFeedback.firstname}} </h3>
      <h3> Last Name: {{submittedFeedback.lastname}} </h3>
      <h3> Tel Number: {{submittedFeedback.telnum}} </h3>
      <h3> Email: {{submittedFeedback.email}} </h3>
      <h3> Contact You?: {{submittedFeedback.agree}} </h3>
      <h3> How?: {{submittedFeedback.contacttype}} </h3>
      <h3> Feedback: {{submittedFeedback.message}} </h3>

    </mat-list>
  </div>

  <div *ngIf="showLoader" [@expand]="expand">
    <h4>Submitting Form</h4>
    <mat-spinner></mat-spinner>
  </div>

  <div fxFlex *ngIf="errMess">
    <h2>Error Occured</h2>
    <h4>{{errMess}}</h4>
  </div>


</div>